* {margin: 0px; padding: opx}
body{;background-color: #6c6c6e;font-family: arial;}

.pagewidth{width: 1024px;margin: 0px auto;background-color: #ffffff;height: 650px;margin-top: 100px;}
.pagewidth .row{width: 985px;padding: 20px; }
.row .header{background-color:#fe7e00;color: #ffffff;padding: 20px;}

.navbar{margin-top: 20px;}
.navbar ul li {list-style: none;float: left;padding-right: 20px;}
.navbar ul li a{color: #7d7d7d;display: inline-block;text-decoration: none;font-size: 18px;}
.navbar ul li a:hover{background-color: #7d7d7d;color: #fe7e00;}

.body{margin-top: 55px;}
.leftcontent{float: left;margin-right: 40px;}
.leftcontent .card{background-color: #01a0c7;width: 175px;height: 280px;color: #ffffff;}
.leftcontent .thumb{margin-top: 20px;}
.leftcontent .card p{font-size: 14px;padding-left: 10px;padding-top: 10px;}
.leftcontent .card h2{font-size: 16px;padding-left: 10px;padding: 10px;}

.body .rightcontent .mainheading h3{background-color: #fe4101;font-size: 26px;padding: 20px;color: #ffdcca;font-size: 36px;}
.body .rightcontent .mainheading p{width: 950px;}


.article{margin-top: 20px;}
.article .leftarticle{width: 450px;height: 244px;}
.leftarticle p{font-size: 14px;}



.article .rightarticle{width: 350px;height: 280;float: left;}


.footer{background-color: #7d7d7d;width: 770px;height: 20px;margin-left: 195px;padding: 10px;}
.footer p{float: left;padding-left: 10px;border-right: 1px solid#000000;padding-right: 10px;}























